<!-----------------------------------
  FILENAME: app.ejs
  AUTHOR'S NAME: Priyanka Kediya
  STUDENT ID: 301184183
  WEB APP NAME: Favorite Book List App
------------------------------------>

<%- include('../partials/header.ejs'); %>

<!-- content for the add page -->

<!-- Table for adding books -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="NameTextField">Title</label>
                    <input type="text" class="form-control"
                    id="NameTextField"
                    placeholder="Enter the Book Title"
                    name="title" required>
                </div>

                <div class="form-group">
                    <label for="PriceTextField">Price</label>
                    <input type="text" class="form-control" id="PriceTextField"
                    placeholder="Enter the Book Price" name="price" required>
                </div>

                <div class="form-group">
                    <label for="AuthorTextField">Author</label>
                    <input type="text" class="form-control" id="AuthorTextField"
                    placeholder="Enter the Book Author" name="author" required>
                </div>
                
                <div class="form-group">
                    <label for="GenreTextField">Genre</label>
                    <input type="text" class="form-control" id="GenreTextField"
                    placeholder="Enter the Book Genre" name="genre" required>
                </div>
                
                <!-- submit button -->
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check-square-o"></i> Submit
                </button>

                <!-- cancel button -->
                <a href="/books" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>

            </form>
        </div>
    </div>
</div>













<%- include('../partials/footer.ejs'); %>